<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="inetBankingv1.testcases.Tc_LoginDDT_002"/>
      <class name="inetBankingv1.testcases.TC_LoginTest_001"/>
      <class name="inetBankingv1.testcases.Newcustomertestcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
